
body {
  margin-top: 50px;
}

.headers {
	color: rgb(0, 153, 153);
	font-size: 46px;
}

.why-row {
	margin-top:20px;
	background-color: #FF4D4D;
	height: 400px;

}



.why {
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.why h3 {
	margin-top: 70px;
	font-size: 70px;
}

.why p {
	font-size: 35px;
}

.divider {
	margin: 45px 0px;
}


.center {
	text-align: center;
}
	
.center-img {
	  display: block;
    margin-left: auto;
    margin-right: auto; 
}	
	





h1 {
font-size:	36px;
}

.addthis_toolbox {
  width:250px;
}

.jumbotron {
  background: transparent url(/assets/img/skyline.png);
	height: 193px;
	color: white;
	padding-top: 0px;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);

}

.jumbotron h1 {
	  font-size: 36px;
	
}



.jumbotron p {
	line-height: 17px;
	font-size: 20px;
	font-weight: 400;
}


.overview-icons {
	width: 42%;	
	max-width: 217px;
	margin-top: 20px;
}




#location-icon {
	max-width:150px;
	
}

.location h2 {
	margin-top:7px;
}


.google-map {
	height:250px;
}


.contact-row {
	margin-bottom: 40px;

}

.contact-row p {
	font-size: 18px;
}


.contact-row h3 {
	margin:30px 0px;
}

.contact-row h4 {
	font-size:25px;
}


.git-hub {
  margin-top:5px;
  width: 100%;
	max-width: 100px;
	
}




.footer {
  background-color: #4C4C4C;
  padding: 30px 0;
	height: 130px;
}
.footer p {
  padding-left:15px;
  color: white;
	font-size: 17px;
}


@media (max-width: 290px) {
	.jumbotron h1 {
		font-size: 26px;
	}
}






@media (max-width: 340px) {
	
	.jumbotron h1 {
		margin-top: 10px;
	}
	
	
}


@media (min-width: 768px) {  
	
	
	
	
	.jumbotron h1{
		font-size: 55px;
	}
	
	.jumbotron p {
		font-size: 26px;
		line-height: 28px;
		font-weight: 400;
	}

  .overview {
 	 margin-top: 30px;
  
  } 
	
	
	#coder-icon {
		width:50%
	}
	
	
	.contact-row .lead {
		font-size: 21px;
	}
	
	
	.location {
	 margin-top: 30px; 
  }

	#location-icon {
		margin-top: 15px;
	}
	
	.google-map {
		height:340px;
	}

	
	.why p {
		font-size: 50px;
	}

	.footer p {
		padding-left: 35px;
		font-size: 19px;
	}

}

@media (min-width: 992px) {
 .jumbotron h1{
	font-size: 63px;
	}

}
